/*----------NAV BAR----------*/
.container{
  width: 100%;
  min-height: 100vh;
  padding-left: 2em;
  padding-right: 2em;
  box-sizing: border-box;
  overflow: hidden;
}

.navbar{
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 30px;
  padding-bottom: 5px;
  /* border-bottom: 0.5px solid #f4f4f4;  */
}

.logo{
  width: 100px;
  cursor: pointer;
  margin: 30px, 0;
}

nav{
  flex: 1;
  text-align: right;
}

nav ul li{
  list-style: none;
  display: inline-block;
  margin-left: 60px;
}

nav ul li a {
  float: left;
  text-decoration: none;
  color: #313131;
  font-size: 16px;
}

nav ul li a:hover {
  color: #0678A9;
}

/*----------BODY OF THE WEBSITE----------*/
body {
  font-family: 'Quicksand', sans-serif;
  background-color: rgb(255, 255, 255);
  margin: 0;
  padding: 0px 0px 0px 0px;
}

/*----------HERO BANNER----------*/
.hero-image{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  width: 100%;
  height: 600px;
  background-image: url('Hero-bg.png');
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
  /* color: white; */
}

.tagline {
  font-size: 50px;
  margin-left: 200px;
  color: white;
  font-family: Dela Gothic One;
}

.browse {
  margin-left: 200px;
  margin-top: 30px;
  background-color: #FFBF00;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 50px;
  border: none;
}


/*----------TRENDING BOOKS----------*/
*,
*::before,
*::after {
margin: 0;
padding: 0;
box-sizing: border-box;
list-style-type: none;
text-decoration: none;
}

:root {
--primary: #ec994b;
--white: #ffffff;
--bg: #f5f5f5;
}

/* html {
font-size: 12px;   
font-family: "Quicksand", sans-serif;
scroll-behavior: smooth;
} */

::-webkit-scrollbar {
width: 1rem;
}

::-webkit-scrollbar-thumb {
border-radius: 16px;
background: #797979;
transition: all 0.5s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
background: #222224;
}

::-webkit-scrollbar-track {
background: #f9f9f9;
}

.trend-container {
padding: 0px 90px 0px 90px;
margin: 0 auto;
}

.section-heading {
  text-align: center;
  font-size: 30px;
  color: black;
  padding: 1rem 0;
}

#trending {
padding: 15px 0;
}

@media (max-width:1440px) {
#trending {
  padding: 50px 0;
}
}

#trending .trending-slider { /*arrow buttons padding*/
height: 45rem;
padding: 1rem 0;
position: relative;
}

@media (max-width:500px) {
#trending .trending-slider {
  height: 45rem;
}
}

.trending-slide { /*author & rating*/
width: 30rem;
height: 40rem;
position: relative;
}

@media (max-width:500px) {
.trending-slide {
  width: 28rem !important;
  height: 36rem !important;
}
.trending-slide .trending-slide-img img {
  width: 28rem !important;
  height: 36rem !important;
}
}

.trending-slide .trending-slide-img img { /*book size*/
width: 28rem;
height: 38rem;
border-radius: 2rem;
object-fit: cover;
}

/* .trending-slide .trending-slide-content {
position: absolute;
left: 0;
top: 0;
right: 0;
bottom: 0;
} */

.trending-slide-content .book-title { /*book title*/
position: absolute;
top: 1rem;
right: 3rem;
color: white;
}

.trending-slide-content .trending-slide-content-bottom { 
  /*author & rating at the bottom*/
position: absolute;
bottom: 3rem;
left: 2rem;
color: white;
}

.book-rating {
padding-top: 1rem;
display: flex;
gap: 1rem;
}

.rating ion-icon { /*star color*/
color: rgb(255, 225, 0);
}

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
display: none;
}

.trending-slider-control {
position: relative;
bottom: 2rem;
display: flex;
align-items: center;
justify-content: center;
}

.trending-slider-control .swiper-button-next {
  /*arrow right*/
left: 60% !important; 
transform: translateX(-40%) !important;
}

@media (max-width:990px) {
.trending-slider-control .swiper-button-next {
  left: 70% !important;
  transform: translateX(-70%) !important;
}
}

@media (max-width:450px) {
.trending-slider-control .swiper-button-next {
  left: 70% !important;
  transform: translateX(-80%) !important;
}
}

@media (max-width:990px) {
.trending-slider-control .swiper-button-prev {
  left: 35% !important;
  transform: translateX(-30%) !important;
}
}

@media (max-width:450px) {
.trending-slider-control .swiper-button-prev {
  left: 20% !important;
  transform: translateX(-20%) !important;
}
}

.trending-slider-control .slider-arrow {
  /*circle border of arrow*/
background: rgb(68, 146, 235);
width: 2.5rem;
height: 2.5rem;
border-radius: 50%;
left: 40%;
transform: translateX(-42%);
filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.trending-slider-control .slider-arrow ion-icon {
  /*color of arrow*/
font-size: 1rem;
color: #ffffff;
}

.trending-slider-control .slider-arrow::after {
content: '';
}

.trending-slider-control .swiper-pagination {
position: relative;
width:   50rem;
bottom: 1rem;
}

.trending-slider-control .swiper-pagination .swiper-pagination-bullet {
filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.trending-slider-control .swiper-pagination .swiper-pagination-bullet-active {
background: var(--primary);
}





/*----------FEATURED BOOK----------*/
.ftr-book-container {
max-width: 1500px;
padding: 10px;
display: grid;
/* grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); */
grid-template-columns: repeat(10, 1fr);
background-color: rgb(84, 124, 241);

}

.ftrbook-box {
background: steelblue;
color: #fff;
padding: 10px;
/* border: skyblue 1px solid; */
}

.ftrbook-box:nth-of-type(1) { 
/*--box1: featured book title--*/
background: rgb(84, 124, 241);
padding: 40px 0px 50px 0px;
font-size: 30px;
grid-column: 1 / 10;
}

.ftrbook-box:nth-of-type(2) {
/*--box2: image of book--*/
background: rgb(84, 124, 241);
padding: 20px;
grid-column: 1 / 4;
}

.ftrbook-box:nth-of-type(3) {
  /*--box3: book title, author and description--*/
  background: #c96868;
  padding: 30px;
  grid-column: 4 / 10;
  grid-row: 2 / 3;
  border-radius: 30px;
  border: 1px solid #000;
  background: #FFF;
  color: #000;

}

@media (max-width: 500px) {
.ftr-book-container {
  grid-template-columns: 1fr;
}
}



/*----------AUDIO BOOKS----------*/
.audiobook {
  padding: 20px;
}



/*----------FOOTER----------*/
.info-footer {
  display: block;
  width: 100%;
  height: 200px;
  background-color: #870e0e;
  /* padding: 20px 0px 20px 20px; */
}

.info-footer img {
  display: block;
  margin-left: 90%;
  padding-top: 20px;
}

.followus {
  color: white;
  padding: 00px 0px 0px 20px;
}

.fa {
  padding: 10px;
  font-size: 20px;
  width: 15px;
  text-align: center;
  text-decoration: none;
  margin: 2px 2px;
  border-radius: 90%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.footer {
  color: white;
}